h1{
    color: rgb(244, 149, 146);
    border: 2px solid yellow;
}
h3{
    color: aliceblue;
    font-weight: bold;
}
body{
    background: linear-gradient(red 0%, cyan 33% , lightblue 66%, rgb(25, 6, 78) 100%);
}